.stock__inner {
  display: flex;
  justify-content: space-between;
}

.stock__item {
  max-width: 45%;
  padding: 20px;
  border: 1px solid gray;
}

.stock__item_left_img {
  max-width: 80%;
  width: 100%;
}

.stock__item_right {
  transform: translateX(-40px);
}

.stock__item_right_title {
  margin-bottom: 25px;
}

.stock__item_link {
  display: flex;
}
