p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: '⚠ ';
}

.form__input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
  outline: none;
  height: 45px;
  background-color: #ebe8e8;
  border: none;
  padding: 5px 10px;
  &_submit {
    background-color: #3189db;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    outline: none;
    height: 45px;
    border: none;
    cursor: pointer;
  }
}

.form__back {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 30%;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
